# IDE
.idea/
.vscode/
*.swp
*.swo

# Composer
/vendor/
composer.lock

# PHPUnit
.phpunit.result.cache
phpunit.xml

# System
.DS_Store
Thumbs.db

# Coverage
coverage/
composer.lock
build/
.phpunit.result.cache